body{
    background-color: red;
    font-size: large;
    border-bottom: 2in;
    border-color: black;
    counter-set: center;
}
#divide{
    padding: 3px;
    size-adjust: bold;
    border-color: blueviolet;
    
}